##############################
####### Rust Prodject ########
##############################
/target
Cargo.lock

##############################
########## Secrets ###########
##############################
.env
.env.*
!.env.example

##############################
####### DevOps Python ########
##############################
/venv
